/* Write your CSS here */

.money-details-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}
.money-details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecfccb;
  border: 1px solid #84cc16;
  border-radius: 10px;
  width: 30%;
}
.balance-img {
  height: 40px;
  width: 40px;
  padding-left: 0px;
}
.money-text-container {
  margin-left: 30px;
}
.name {
  font-family: roboto;
  color: #475569;
}
.amount {
  font-family: roboto;
  font-size: 24px;
  color: #475569;
}
